
.gradle/8.7/checksums/checksums.lock
.gradle/8.7/checksums/md5-checksums.bin
.gradle/8.7/checksums/sha1-checksums.bin
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidPluginAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxActivityLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxComposeLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxCoreLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxEspressoLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleRuntimeLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxLifecycleViewmodelLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxNavigationLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxNavigationRuntimeLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiTestLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$AndroidxUiToolingLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$BundleAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$CoilLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$ConverterLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$JetbrainsKotlinPluginAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$JetbrainsPluginAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$LottieLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$PluginAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$Retrofit2KotlinCoroutinesLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$Retrofit2KotlinLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$Retrofit2LibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs$VersionAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibs.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidPluginAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxActivityLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxComposeLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxCoreLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxEspressoLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleRuntimeLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxLifecycleViewmodelLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxNavigationLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxNavigationRuntimeLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiTestLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$AndroidxUiToolingLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$BundleAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$CoilLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$ConverterLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$JetbrainsKotlinPluginAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$JetbrainsPluginAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$LottieLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$PluginAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$Retrofit2KotlinCoroutinesLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$Retrofit2KotlinLibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$Retrofit2LibraryAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock$VersionAccessors.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/classes/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.class
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/metadata.bin
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/sources/org/gradle/accessors/dm/LibrariesForLibs.java
.gradle/8.7/dependencies-accessors/4844eaeb55cf88f743b11c6e4a0735c89b2fb3a1/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
.gradle/8.7/executionHistory/executionHistory.bin
.gradle/8.7/executionHistory/executionHistory.lock
.gradle/8.7/fileHashes/fileHashes.bin
.gradle/8.7/fileHashes/fileHashes.lock
.gradle/8.7/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
